<settings>
    <setting propertyKey="@Properties.TextColor" title="@Strings.TextColorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorWhite</listEntry>
            <listEntry value="1">@Strings.ColorLtGray</listEntry>
            <listEntry value="2">@Strings.ColorRed</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorYellow</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorPurple</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBatteryTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowMinus2Min" title="@Strings.ShowMinus2MinTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowMinus1Min" title="@Strings.ShowMinus1MinTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.Show0Min" title="@Strings.Show0MinTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowPlus1Min" title="@Strings.ShowPlus1MinTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowPlus2Min" title="@Strings.ShowPlus2MinTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowHangout" title="@Strings.ShowHangoutTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>
